MREF_ADMIN_EMAIL = ''
MREF_FROM_EMAIL = ''
MREF_APP_NAME = ''

MREF_SMTP_HOST_0 = ''
MREF_SMTP_USER_0 = ''
MREF_SMTP_PASS_0 = ''
MREF_SMTP_ENCR_0 = ''
MREF_SMTP_PORT_0 = ''

MREF_SMTP_HOST_1 = ''
MREF_SMTP_USER_1 = ''
MREF_SMTP_PASS_1 = ''
MREF_SMTP_ENCR_1 = ''
MREF_SMTP_PORT_1 = ''

MREF_FILES_ENABLED = 1
MREF_FILES_PATH = ''

MREF_MEMCACHED_ENABLED = 0
MREF_MEMCACHED_HOST = '127.0.0.1';
MREF_MEMCACHED_PORT = '11211';
MREF_MEMCACHED_SASL_USER = '';
MREF_MEMCACHED_SASL_PASS = '';

MREF_REDIS_ENABLED = 0
MREF_REDIS_HOST = '127.0.0.1'
MREF_REDIS_PORT = '6379'
MREF_REDIS_PASS = ''
MREF_REDIS_DB = ''