MREF_ADMIN_EMAIL = ''
MREF_APP_NAME = ''

MREF_SMTP_HOST_0 = ''
MREF_SMTP_USER_0 = ''
MREF_SMTP_PASS_0 = ''
MREF_SMTP_ENCR_0 = ''
MREF_SMTP_PORT_0 = ''

MREF_SMTP_HOST_1 = ''
MREF_SMTP_USER_1 = ''
MREF_SMTP_PASS_1 = ''
MREF_SMTP_ENCR_1 = ''
MREF_SMTP_PORT_1 = ''